@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ReviewViewModel


<div class="container rounded bg-white p-3">
    <div class="flex justify-between">
        <div class="mt-2">
            <p><span class="text-gray-700">Autor:</span> <i>@Model.AppUser.UserName</i>    <span class="text-gray-400">     (@Model.CreatedAt.ToShortDateString())</span></p>
        </div>

        <div class="mt-1">
            @for (int i = 0; i < Model.Value; i++)
            {
                <i class="bi bi-star-fill text-3xl text-yellow-500"></i>
            }
            @for (int i = Model.Value; i < 10; i++)
            {
                <i class="bi bi-star text-3xl text-yellow-500"></i>
            }
        </div>
    </div>

    <div class="p-2">
        <h3 class="mb-3 text-3xl font-semibold">@Model.Title</h3>   
        <p>@Model.Content</p>
    </div>
</div>

<h2 class="py-3 font-sans text-2xl"><i class="bi bi-chat-left-text"></i> Komentarze </h2>
<form asp-area="" asp-controller="Comment" asp-action="Create" asp-route-reviewId="@Model.Id">
    <div class="form-group mb-3">
        <label class="mb-2 block font-semibold text-gray-700" asp-for="Comment"></label>
        <textarea asp-for="Comment" class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" rows="3"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <input type="hidden" asp-for="AlbumId" value="@Model.Id" />
    @if(ViewData["Error"] != null)
    {
        <span class="text-danger">@ViewData["Error"]</span>
    }
    <div class="mx-auto mb-4 text-center">
        <button type="submit" class="rounded bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700"><i class="bi bi-send"></i> Dodaj komentarz</button>
    </div>
</form>
@foreach(Comment comment in Model.Comments)
{
    <div class="mt-4">
        <div class="container rounded bg-gray-200 px-3 py-1.5">
            <div class="mt-2">
                <p>@comment.AppUser.UserName    <span class="text-muted">     (@comment.CreatedDate.ToShortDateString())</span></p>
            </div>

            <div class="p-2">
                <p class="text-wrap">@comment.Content</p>
            </div>
        </div>
    </div>
}


