@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Album>
<section class="container py-5 text-center">

        <div class="mx-auto">
            <h1 class="text-4xl font-light">Przeglądaj z gamy naszych albumów</h1>

            @if (User.Identity.IsAuthenticated)
            {
                <p class="p-4 text-xl">

                    Jeśli nie ma albumu który cię interesuje, <a class="text-blue-400" asp-controller="Album" asp-action="Create" >
                        dodaj nowy album
                    </a>
                </p>
            }

        </div>
  
</section>
<form method="get" asp-action="Index">
    <div class="relative mx-auto max-w-80">
        <input type="text" name="search" id="search" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 ps-10 text-lg text-gray-900 focus:ring-blue-500 focus:border-blue-500" placeholder="Szukaj..." value="@Context.Request.Query["search"]" />
        <button type="submit" class="absolute bottom-1 end-1 rounded-lg bg-blue-700 px-3 py-3 text-sm text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"><i class="bi bi-search"></i></button>
    </div>
</form>
<div class="album bg-body-tertiary mt-1 py-5">
    <div class="container">
        @if (!string.IsNullOrEmpty(Context.Request.Query["search"]))
        {
            <div class="mb-8 p-6">
                <h1 class="text-2xl text-gray-500">Wyniki dla frazy: '@Context.Request.Query["search"]'</h1>
            </div>
        }
        
        @if(Model.Count == 0)
        {
            <h3 class="text-secondary lead text-center"><i class="bi bi-info-circle p-2"></i> Nie znaleziono takiego albumu...</h3>
        }
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            
            @foreach (Album album in Model)
            {
                string url;
                try
                {
                    url = album.ImageUrl;
                }
                catch (Exception ex)
                {
                    url = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png";
                }
                <div class="col">
                    <div class="card album-card position-relative shadow-sm">
                        <div class="card-img-container">
                            <a asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">
                            <img src="@url" alt="Obraz przedstawiający @album.Name" class="card-img-top" />
                            </a>
                        </div>
                        <div class="card-body">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <a type="button" asp-controller="Album" asp-action="Edit" asp-route-id="@album.Id"
                                   class="btn btn-sm btn-outline-secondary position-absolute end-0 top-0 m-2">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                            }
                            <div class="text-center">
                                <a class="text-secondary fst-italic" style="text-decoration: none;" asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">@album.Author</a>
                                <p><a class="line-clamp-1 gray decoration-0 w-full text-xl font-semibold text-gray-600" asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">@album.Name</a></p>
                            </div>
                            <div class="my-2 text-center">
                                @if (album.Ratings == null || album.Ratings.Count() == 0)
                                {
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <i class="bi bi-star text-yellow-500" style="font-size: 24px;"></i>
                                    }
                                }
                                else
                                {
                                    double avg = album.Ratings.Average(a => a.Value);
                                    double roundedAvg = Math.Round(avg * 2, MidpointRounding.AwayFromZero) / 2;
                                    int fullStars = (int)roundedAvg;
                                    bool hasHalfStar = roundedAvg - fullStars >= 0.5;

                                    @for (int j = 0; j < fullStars; j++)
                                    {
                                        <i class="bi bi-star-fill text-xl text-yellow-500"></i>
                                    }
                                    @if (hasHalfStar)
                                    {
                                        <i class="bi bi-star-half text-xl text-yellow-500"></i>
                                    }
                                    for (int i = fullStars + (hasHalfStar ? 1 : 0); i < 10; i++)
                                    {
                                        <i class="bi bi-star text-xl text-yellow-500"></i>
                                    }
                                }
                            </div>
                            <p class="text-muted text-center" style="font-size: 18px;">@album.Year</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>