@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Album>
<section class="py-5 text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-3 mx-auto">
            <h1 class="fw-light">Przeglądaj z gamy naszych albumów</h1>

            @if (User.Identity.IsAuthenticated)
            {
                <p style="font-size: 20px;">

                    Jeśli nie ma albumu który cię interesuje, <a asp-controller="Album" asp-action="Create" >
                        dodaj nowy album
                    </a>
                </p>
            }

        </div>
    </div>
</section>
<form method="get" asp-action="Index">
    <div class="input-group mb-3 w-25 mx-auto">
        <input type="text" class="form-control" placeholder="Wpisz nazwę albumu..." name="search" value="@Context.Request.Query["search"]"/>
        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        @if(Model.Count == 0)
        {
            <h3 class="text-center text-secondary lead"><i class="bi bi-info-circle p-2"></i> Nie znaleziono takiego albumu...</h3>
        }
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            @foreach (Album album in Model)
            {
                string url;
                try
                {
                    url = album.ImageUrl;
                }
                catch (Exception ex)
                {
                    url = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png";
                }
                <div class="col">
                    <div class="card shadow-sm" style="border-radius: 4px 20px 20px 20px;">
                        <img src=@url alt="Obraz przedstawiający @album.Name" width=100% height=100% style="border-radius: 4px 20px 4px 4px" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a asp-area="" asp-controller="Album" asp-action="Details" asp-route-id="@album.Id" class="card-text link-dark">@album.Author - @album.Name</a>
                                </div>
                                
                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                <div class="btn-group">
                                    <a type="button" asp-controller="Album" asp-action="Edit" asp-route-id=@album.Id class="btn btn-sm btn-outline-secondary">Edytuj</a>
                                </div>
                                }
                                
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                @if (album.Ratings == null || album.Ratings.Count() == 0)
                                {
                                    <div class="text-center">
                                        @for (int i = 0; i < 10; i++)
                                        {
                                            <i class="bi bi-star text-warning" style="font-size: 24px;"></i>
                                        }
                                    </div>
                                }
                                else
                                {
                                    double avg = album.Ratings.Average(a => a.Value);
                                    double roundedAvg = Math.Round(avg * 2, MidpointRounding.AwayFromZero) / 2;
                                    int fullStars = (int)roundedAvg;
                                    bool hasHalfStar = roundedAvg - fullStars >= 0.5;

                                    <div class="text-center">
                                        @for (int j = 0; j < fullStars; j++)
                                        {
                                            <i class="bi bi-star-fill text-warning" style="font-size: 24px;"></i>
                                        }
                                        @if (hasHalfStar)
                                        {
                                            <i class="bi bi-star-half text-warning" style="font-size: 24px;"></i>
                                            for (int i = fullStars + 1; i < 10; i++)
                                            {
                                                <i class="bi bi-star text-warning" style="font-size: 24px;"></i>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = fullStars; i < 10; i++)
                                            {
                                                <i class="bi bi-star text-warning" style="font-size: 24px;"></i>
                                            }
                                        }
                                    </div>
                                }
                                
                                <p class="text-body-secondary" style="font-size: 20px">@album.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>