@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AccountDetailsViewModel

<body class="bg-body-tertiary">
    <div class="container w-100">
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last p-3">
                <h4 class="text-center mb-3 mt-2">Twoje konto</h4>
                <div class="shadow rounded">
                    <img src="https://cdn.pixabay.com/photo/2016/09/28/02/14/user-1699635_1280.png" class="rounded mx-auto d-block mt-4" style="width: 200px; height: 200px;" alt="User profile icon">
                    <div class="p-3">
                        <div class="text-center">
                            <h5>@Model.AppUser.UserName</h5>
                        </div>
                        <div class="p-3 bg-light rounded border">
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-envelope-fill text-secondary me-2"></i>
                                <span class="text-secondary me-1">E-mail:</span>
                                <span>@Model.AppUser.Email</span>
                            </div>
                        </div>
                        @*
                        <div class="text-center mt-3">
                            <a type="button" class="btn btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Edit">Edytuj dane <i class="bi bi-pencil-fill"></i></a>
                        </div>*@
                    </div>
                </div>

            </div>
            <div class="col-md-7 col-lg-8">

                <h1 class="display-6 fw-normal">Napisane recenzje</h1>
                <br />
                @if(Model.Reviews.Count == 0)
                {
                    <p class="text-secondary"><i class="bi bi-info-circle p-3"></i>   Wygląda na to, że nie napisałeś jeszcze żadnej recenzji!</p>
                }
                @foreach (Review review in Model.Reviews)
                {
                    <div class="mb-3">
                        <div class="container shadow rounded">
    
                            <div class="d-flex justify-content-between p-1">
                                <div>
                                    <a type="button" class="btn" asp-controller="Album" asp-action="Details" asp-route-id="@review.AlbumId">
                                        <img class="img-thumbnail" style="width:80px; height:80px;" src="@review.Album.ImageUrl" />
                                    </a>      
                                </div>
                                
                                <div class="mt-3">
                                    @for (int i = 0; i < review.Value; i++)
                                    {
                                        <i class="bi bi-star-fill text-warning" style="font-size: 30px;"></i>
                                    }
                                    @for (int i = review.Value; i < 10; i++)
                                    {
                                        <i class="bi bi-star text-warning" style="font-size: 30px;"></i>
                                    }
                                </div>
                            </div>

                            <div>
                                <h3>@review.Title</h3>
                                @if (review.Content.Length > 500)
                                {
                                    <p>@review.Content.Substring(0, 500) ...</p>
                                }
                                else
                                {
                                    <p>@review.Content</p>
                                }

                            </div>
                            <div class="d-flex justify-content-between p-2">
                                <div>
                                    <a type="button" class="btn btn-outline-dark" asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id">Edytuj <i class="bi bi-pencil-fill"></i></a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@review.Id">
                                        Usuń <i class="bi bi-trash3-fill"></i>
                                    </button>

                                    <!-- Modal potwierdzenia -->
                                    <div class="modal fade" id="confirmDeleteModal-@review.Id" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@review.Id" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmDeleteModalLabel-@review.Id">Hola hola!</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Czy na pewno chcesz usunąć tą recenzję oraz wszystkie komentarze pod nią?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                                                    <a type="button" class="btn btn-danger" asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id">Usuń <i class="bi bi-trash3-fill"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <a asp-area="" asp-controller="Review" asp-action="Details" asp-route-id="@review.Id">Czytaj całość</a>
                                </div>
                            </div>
                            <div class="p-2 text-end">
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</body>